@import "tailwindcss";

:root {
  color-scheme: light;
}

html,
body {
  background-color: #ffffff;
  color: #0f172a;
  height: 100%;
}

body {
  color: #0f172a !important;
}

* {
  scrollbar-color: #cbd5e1 transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}
